html, body {
    /* height: 100%; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f5f9; /* Pale blue background */
    color: #444; /* Dark grey text */
}

h1 {
    text-align: center;
    color: #337ab7; /* Light blue heading */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff; /* White form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

label {
    display: inline-block;
    width: 150px;
    color: #555; /* Dark grey label text */
}

/* Style the labels for Velocity and Optimisation Options */
label[for="velocity"],
label[for="options"] {
    margin-bottom: 10px; /* Add margin-bottom to create space */
    font-weight: bold; /* Make the text bold */
    font-size: larger;
}

/* Style the label of the selected radio option */
input[type="radio"]:checked + label {
    background-color: #cceeff;
    border-radius: 4px;
    padding: 4px; 
}

input[type="radio"],
input[type="number"] {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

#velocity {
    font-size: large;
}

#image-container {
    height: 220px;
    width: 800px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    justify-content: center;
}

img {
    border-radius: 8px;
    width: 98%;
    max-width: none;
}

#button-container {
    text-align: right;
}

/* Primary button style */
#solve-button {
    background-color: #337ab7; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor style */
    font-size: 22px; /* Font size */
}

/* Hover effect */
#solve-button:hover {
    background-color: #ddd; /* Mid-light grey background color on hover */
    color: #337ab7; /* Blue text color on hover */
}

#chart-container {
    transition: all 0.5s ease; /* Smooth transition */
}

#chart-container.half-size {
    transform: scale(0.5); /* Reduce size by half */
    transform-origin: top left; /* Keep top left corner in place */
}
